$white: #fff;
$danger: #ff5252;
$warning: #ff9800;
$success: #4caf50;

$primary-color: #2196f3;

$primary-text: #757575;
$dark-text: #424242;
$medium-text: #949494;
$primary-bg: #e0e0e0;
$light-bg: #f5f5f5;
$primary-border: #d2d2d2;
$secondary-border: #eeeeee;
$input-bg: #fafafa;
$input-placeholder-color: #a7a7a7;
$help-text-color: #b8b8b8;

$footer-bg: #039be5;
$main-bg: #013247;